body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c0d8f0; /* Azul claro */
}

input, button, #myMap {
    margin: 15px;
    border-radius: 5px; /* Añadir bordes redondeados */
    border: 3px solid #000; /* Añadir borde sólido de 5px */
}

#myMap {
    height: 400px;
    width: 400px;
}